.favorites{
    padding: 0 10.4rem 7rem;
}
.favoritesTop{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.favoritesTitle{
    margin: 3.8rem 0 3rem 16.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 4.2rem;
    text-transform: uppercase;
}
.selectionItems{
    display: grid;
    grid-template-columns: repeat(3, 38.4rem);
    grid-template-rows: 63rem;
    padding-bottom:10.7rem;
    gap:3rem 4rem;
}
.selectionItems.error{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    height: 100%;

}
.errorBlock{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.errorTitle{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 3.4rem;
    line-height: 5.1rem;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.errorSubtitle{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    text-transform: lowercase;
    color: #7B7B7B;
}
@media (max-width:768px){
    .favorites{
        padding: 2rem 1rem 5.4rem;
        width: 100%;
        min-height: calc(100vh - 7rem);
    }
    .favoritesTitle{
        margin: 0 auto 2rem 2rem;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: normal;
    }
    .selectionItems{
        grid-template-columns: repeat(2, 26rem);
        grid-template-rows: 40rem;
        padding-bottom:0;
        gap:1rem;
    }
    .selectionItems.error{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 70vh;
        height: 100%;

    }
    .errorBlock{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .errorTitle{
        font-size: 1.8rem;
        line-height: normal;
    }
    .errorSubtitle{
        font-size: 1.2rem;
        line-height: normal;
    }
}

@media (max-width:390px){
    .selectionItems{
        grid-template-columns: repeat(2, 18rem);
        grid-template-rows: 30rem;
    }
}