.favorites{
    padding: 0 10.4rem 7rem;
}
.favoritesTop{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.favoritesTitle{
    margin: 3.8rem 0 3rem 16.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 4.2rem;
    text-transform: uppercase;
}
.buttonCleatAll{
    margin-bottom: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9.8rem;
    height: 2.2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.buttonCleatAll img{
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
}

.buttonCleatAll span{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    text-transform: uppercase;
}

.selectionItems{
    display: grid;
    grid-template-columns: repeat(3, 38.4rem);
    grid-template-rows: 63rem;
    padding-bottom:10.7rem;
    gap:3rem 4rem;
}
.selectionItems.error{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    height: 100%;

}
.errorBlock{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.errorTitle{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 3.4rem;
    line-height: 5.1rem;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.errorSubtitle{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    text-transform: lowercase;
    color: #7B7B7B;
}