.profile{
    padding: 0 14rem 10rem 10.4rem;
}
.profileInner{
    display: flex;
    justify-content: space-between;
}

.profileMenu{
    display: block;
    margin-top: 13rem;
    width: 16.2rem;
    flex-grow: 1;
}
.profileContent{
    width: 103rem;
}
.profileMenu li{
    margin-bottom: 2rem;
    list-style-type: none;
}
.link{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #000000;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transiton:0.5s;
}
.linkIcon{
    display: none;
}
 :global(.active).link {
    transiton:0.5s;
    border-bottom: .1rem solid #CCCCCC;
}

 @media (max-width:768px) {
     .profile{
         padding: 0 1rem 7.5rem;
     }
     .profileContent{
         width: 100%;
     }
     .profileInner{
         flex-direction: column;
     }
     .profileMenu{
         width: 100%;
         margin-top: 2rem;
         display: flex;
         justify-content: center;
     }
     .link{
         display: flex;
         font-size: 0;
         color: transparent;
     }
     .linkIcon{
         display: block;
         margin: 0 3rem;
     }
     .linkIcon svg{
         width: 3.4rem;
         height: 3.4rem;
     }
 }

