.profile{
    padding: 5.5rem 14rem 10rem 10.4rem;
}
.profileInner{
    display: flex;
    justify-content: space-between;
}

.profileMenu{
    display: block;
    margin-top: 13rem;
    width: 16.2rem;
    flex-grow: 1;
}
.profileContent{
    width: 103rem;
}
.profileMenu li{
    margin-bottom: 2rem;
    list-style-type: none;
}
.link{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #000000;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transiton:0.5s;
}

 :global(.active).link {
    transiton:0.5s;
    border-bottom: .1rem solid #CCCCCC;
}
