.priceLabel{
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.priceStart{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    text-transform: uppercase;
}

.priceEnd{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    text-transform: uppercase;
}

.priceDecoration{
    margin: 0 1.3rem;
    width: 1.9rem;
    height: 0.1rem;
    background-color: #000;
}

/*-------------------------------------------------*/
.wrapperSliderPrice{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.sliderPrice{
    width: 20rem;
    height: 2.6rem;
}

.sliderTrack{
    width: 21.9rem;
    height: 1.8rem;


}
:global(.trackPrice) {
    height: 1.8rem;
    border: 0.1rem solid #CCCCCC;
    border-radius: 0.3rem;
    background: #FFFFFF;
}
:global(.trackPrice-1){
    background: #3C3C3C;
}
.track-1{
    background-color: #212121;
}

.thumb{
    margin-top:-0.4rem;
    width: 3.3rem;
    height: 2.6rem;
    cursor: pointer;
    background: #FFFFFF;
    border: 0.1rem solid #CCCCCC;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
    border-radius: 0.3rem;
    outline: none;
}
