
.selectionItem{
    transition: 0.5s;
}
.selectionItem:hover{
    transition: 0.5s;
    box-shadow: 0 .2rem .9rem rgba(46, 46, 46, 0.25);
}

.imgBlock{
    position: relative;
    width: 38.4rem;
    height:49.3rem;
}
.itemSlider{
    display: block;
    width: 38.4rem;
    height:49.3rem;
}

.itemImg{
    width: 100%;
    height: 100%;
}
.btnFavorite{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition:background-color 0.5s ease-out, opacity 0.5s ease-out;
    z-index: 1;
}

.selectionItem:hover .btnFavorite{
    visibility: visible;
    opacity: 100;
    transition: opacity 0.5s ease-out;
    /*z-index: 2;*/
}
.favoriteItem.selectionItem .btnFavorite{
    visibility: visible;
    opacity: 100;
}

.btnFavorite:hover{
    background-color: #3C3C3C;
    transition:background-color 0.5s ease-out;
}

.btnFavorite.btnFavoriteAdded{
    background-color: #3C3C3C;
    transition:background-color 0.5s ease-out;
}
.btnFavorite.btnFavoriteAdded .likeImg path{
    stroke: #fff;
    transition:stroke 0.5s ease-out;
}
.likeImg{
    width: 2.4rem;
    height: 2.4rem;
}
.btnFavorite .likeImg path{
    transition:stroke 0.5s ease-out;
}
.btnFavorite:hover .likeImg path{
    stroke: #fff;
    transition:stroke 0.5s ease-out;
}

.infoBlock{
    padding: 2rem 2rem 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.itemName{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3rem;
    text-decoration: none;
    text-align: center;
    color: #000;
}
.selectionItem:hover .itemName{
    font-size: 2rem;
    transition: 0.5s;
}
.itemPrice{
    margin-left: 2rem;
    margin-top: 2.2rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 2.6rem;
    line-height: 3.5rem;
}

.ratingBlock{
    margin-top: 2.2rem;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.asterisk{
    margin-right: .9rem;
}
.asterisk svg{
    width: 3.4rem;
    height: 3.1rem;
}
.ratingNumber{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 3rem;
}

.customHoverPagination{
    position: absolute;
    top: 0;
    left: 0;
    width: 38.4rem;
    height:49.3rem;
    display: flex;
}
.hoverPoint{
    width: 100%;
    height:49.3rem;
    flex-grow: 1;
    border-radius: 0;
    z-index: 2;
    font-size: 0;
    color: transparent;
}
/*---------------------------------------------------@media -------------------------------------------------------*/
@media (max-width: 1024px) {
    .selectionItem .btnFavorite{
        visibility: visible;
        opacity: 100;
        /*z-index: 2;*/
    }
    .selectionItem .btnFavorite{
        top: 1.3rem;
        right: 1.3rem;
        width: 4rem;
        height: 4rem;
    }

    .likeImg{
        width: 2.4rem;
        height: 2.4rem;
    }
}

@media (max-width:768px){

    .imgBlock{
        position: relative;
        width: 26rem;
        height:32rem;
    }
    .itemSlider{
        display: block;
        width: 26rem;
        height:32rem;
    }
    .itemImg{
        width: 26rem;
        height:32rem;
    }
    .selectionItem .btnFavorite{
        top: 1rem;
        right: 1rem;
        width: 3rem;
        height: 3rem;
    }

    .likeImg{
        width: 1.9rem;
        height: 1.9rem;
    }

    .infoBlock{
        padding: 1rem 0.6rem 1.6rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .itemName{
        font-size: 1.5rem;
        line-height: normal;

    }
    .selectionItem:hover .itemName{
        font-size: 1.5rem;
        transition: 0s;
    }
    .itemPrice{
        margin-left: .4rem;
        margin-top: 1.2rem;
        font-family: 'Nunito', sans-serif;
        font-size: 1.5rem;
        line-height: normal;
    }

    .ratingBlock{
        margin-top: 1.2rem;
        margin-right: .7rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .asterisk{
        margin-right: .3rem;
    }
    .asterisk svg{
        width: 1.75rem;
        height: 1.75rem;
    }
    .ratingNumber{
        font-size: 1.4rem;
        line-height: normal;
    }

    .customHoverPagination{
        display: none;
    }
    .hoverPoint{
        display: none;
    }
}
@media (max-width:390px){
    .imgBlock{
        position: relative;
        width: 18rem;
        height:22rem;
    }
    .itemSlider{
        display: block;
        width: 18rem;
        height:22rem;
    }
    .itemImg{
        width: 18rem;
        height:22rem;
    }
    .itemName{
        font-size: 1.2rem;
    }
    .selectionItem:hover .itemName{
        font-size: 1.2rem;
        transition: 0s;
    }
    .itemPrice{
        margin-left: .4rem;
        margin-top: 1.2rem;
        font-family: 'Nunito', sans-serif;
        font-size: 1.4rem;
        line-height: normal;
    }
}