.selection{
    display: flex;
    padding-top: 5.5rem;
    justify-content: space-between;
}

.sidebar{
    padding-top:15.2rem;
    width: 23rem;
}

.sortEl{
    margin-bottom: 2rem;
}

.sidebarTitle{
    padding-left: 1.7rem;
    padding-right: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}


.sidebarH2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-transform: uppercase;
}

.sidebarTitle .checkImg{
    width: 1rem;
    height: 2rem;
    transition: 0.5s;
}
.sidebarTitle.sidebarTitleOpen .checkImg{
    transform: rotate(180deg);
    transition: 0.5s;
}

.sortElInner{
    padding-top:3rem;
    margin-left:1.4rem;
}


.checkboxItem{
    margin-bottom: 0.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.checkboxhidden{
    width: 0.0001rem;
    height: 0.0001rem;
    visibility: hidden;
    opacity: 0;
}
.checkbox{
    width:2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid #CCCCCC;
}

.checkboxDecoration img{
    width: 1.3rem;
    height: 1.3rem;
}

.checkboxText{
    margin-left: 1rem;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.content{
    padding-top: 3.8rem;
    width: 118.4rem;

}

.content h1{
    margin-right:1.3rem;
    margin-bottom: 2.3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 4.2rem;
    text-transform: uppercase;
}

.sortingBlock{
    display: flex;
    height: 3.5rem;
    margin-bottom: 1.5rem;
}

.sortingBlock .soringLable{
    margin-right: 1.4rem;
    width: 6.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #B0B0B0;

    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
}

.sortingBlock .sortingBody{
    position:relative;
    width: 14.5rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    border: 1px solid #B0B0B0;
    z-index: 2;
}
.sortingHeader{
    padding-left: 0.8rem;
    padding-right: .6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    cursor:pointer;
}


.sortingHeader .checkImg{
    width: 0.7rem;
    height: 1.2rem;
}

.sortingItems{
    width:100%;
    position:absolute;
    visibility: hidden;
    border: 0.06rem solid #B0B0B0;
    opacity: 0;
}

.sortingBody.activ  .sortingItems{
    visibility: visible;
    opacity: 100%;
}

.sortingBody.activ .checkImg{
    transform:rotate(180deg);
}

.sortingItem{
    width:100%;
    padding-left: 0.8rem;
    height: 3.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    transition:0.5s;
    cursor:pointer;
}

.sortingItem:hover{
    background-color: #CCCCCC;
    transition:0.5s;
}
.sortingItem.soringActiv{
    background-color: #3C3C3C;
    color: #fff;
    transition:0.5s;
}

.selectionItems{
    padding-right: 1rem;
    padding-bottom:10.7rem;
    display: grid;
    grid-template-columns: repeat(3, 38.4rem);
    grid-template-rows: 63rem;
    gap:1.8rem 1.1rem;
}
.skeleton{
    width: 38.4rem;
    height: 56.8rem;
}

.selectionItems.error{
    display: flex;
    min-height: 90vh;
    height: 100%;

}

.errorBlock{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.errorTitle{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 3.4rem;
    line-height: 5.1rem;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.errorSubtitle{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    text-transform: lowercase;
    color: #7B7B7B;
}



