.selection{
    display: flex;
    position: relative;
    justify-content: space-between;
}

.sidebar{
    padding-top:15.2rem;
    width: 23rem;
    background-color: #FFFFFF;
}

.sortEl{
    margin-bottom: 2rem;
}
.filtersClouse{
    margin: 2rem 2.5rem 2.8rem auto;
    display: none;
    align-items: center;
    border: none;
    background-color: transparent;
}
.btnName{
    margin-right: 2rem;
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.filtersClouse svg{
    width: 2rem;
    height: 2rem;
}

.sidebarTitle{
    padding-left: 1.7rem;
    padding-right: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}


.sidebarH2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-transform: uppercase;
}

.sidebarTitle .checkImg{
    width: 1rem;
    height: 2rem;
    transition: 0.5s;
}
.sidebarTitle.sidebarTitleOpen .checkImg{
    transform: rotate(180deg);
    transition: 0.5s;
}

.sortElInner{
    padding-top:3rem;
    margin-left:1.4rem;
}


.checkboxItem{
    margin-bottom: 0.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.checkboxhidden{
    width: 0.0001rem;
    height: 0.0001rem;
    visibility: hidden;
    opacity: 0;
}
.checkbox{
    width:2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid #CCCCCC;
}

.checkboxDecoration img{
    width: 1.3rem;
    height: 1.3rem;
}

.checkboxText{
    margin-left: 1rem;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.content{
    padding-top: 3.8rem;
    padding-bottom: 3rem;
    width: 118.4rem;
}

.content h1{
    margin-right:1.3rem;
    margin-bottom: 2.3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 4.2rem;
    text-transform: uppercase;
}

.sortingBlock{
    display: flex;
    height: 3.5rem;
    margin-bottom: 1.5rem;
    align-items: center;
}

.sortingBlock .soringLable{
    margin-right: 1.4rem;
    width: 6.7rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #B0B0B0;

    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
}

.sortingBlock .sortingBody{
    position:relative;
    width: 14.5rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    border: 1px solid #B0B0B0;
    z-index: 2;
}
.filtersShow{
    display: none;
    border: none;
    background-color: transparent;
}
.filtersShow svg{
    width: 2rem;
    height: 2rem;
}
.sortingHeader{
    padding-left: 0.8rem;
    padding-right: .6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    cursor:pointer;
}


.sortingHeader .checkImg{
    width: 0.7rem;
    height: 1.2rem;
}

.sortingItems{
    width:100%;
    position:absolute;
    visibility: hidden;
    background-color: #fff;
    border: 0.06rem solid #B0B0B0;
    opacity: 0;
    z-index: 3;
}

.sortingBody.activ  .sortingItems{
    visibility: visible;
    opacity: 100;

}

.sortingBody.activ .checkImg{
    transform:rotate(180deg);
}

.sortingItem{
    width:100%;
    padding-left: 0.8rem;
    height: 3.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    transition:0.5s;
    cursor:pointer;
}

.sortingItem:hover{
    background-color: #CCCCCC;
    transition:0.5s;
}
.sortingItem.soringActiv{
    background-color: #3C3C3C;
    color: #fff;
    transition:0.5s;
}

.selectionItems{
    padding-right: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 38.4rem);
    grid-template-rows: 63rem;
    gap:1.8rem 1.1rem;
}
.skeleton{
    width: 38.4rem;
    height: 63rem;
}
.skeletonImage{
    x: 0;
    y: 0;
    width: 38.4rem;
    height:49.3rem;
}
.skeletonText{
    x: 2rem;
    y: 51.7rem;
    width: 34.4rem;
    height: 3rem;
}
.skeletonPrice{
    x: 2rem;
    y: 58rem;
    width: 13.9rem;
    height: 2.5rem;
}
.skeletonRating{
    x: 22.8rem;
    y: 58rem;
    width: 13.9rem;
    height: 2.5rem;
}
.selectionItems.error{
    display: flex;
    min-height: 90vh;
    height: 100%;
}

.errorBlock{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.errorTitle{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 3.4rem;
    line-height: 5.1rem;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.errorSubtitle{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    text-transform: lowercase;
    color: #7B7B7B;
}

@media (min-width: 1800px) {
    .selectionItems{
        padding-right: 0;
        padding-bottom:0;
        display: grid;
        grid-template-columns: repeat(4, 28.5rem);
        grid-template-rows: 48.6rem;
        gap:1rem;
    }
    .skeleton{
        width: 28.5rem;
        height: 48.6rem;
    }
    .skeletonImage{
        width: 28.5rem;
        height:36.3rem;
    }
    .skeletonText{
        x: 2rem;
        y: 38.5rem;
        width: 24.4rem;
        height: 3rem;
    }
    .skeletonPrice{
        x: 2rem;
        y: 44rem;
        width: 10rem;
        height: 2.5rem;
    }
    .skeletonRating{
        x: 16.4rem;
        y: 44rem;
        width: 10rem;
        height: 2.5rem;
    }
}

@media (max-width: 1024px) {
    .sortingItem:hover{
        background-color: #fff;
        transition:0s;
    }
    .sortingItem.soringActiv{
        background-color: #3C3C3C;
    }
}

@media (max-width:768px){
    .sidebar{
        padding-top: 0;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        right: -100vw;
        visibility: hidden;
        z-index: 11;
        transition: right 0.3s ease-out, visibility 0.3s ease-out;
    }
    .sidebar.active{
        right: 0;
        visibility: visible;
        transition: right 0.3s ease-out, visibility 0.3s ease-out;
    }
    .content{
        padding: 2rem 1rem 5.4rem;
        width: 100vw;
        min-height: calc(100vh - 7rem);
    }
    .content h1{
        margin-bottom: 1rem;
        font-size: 1.8rem;
        line-height: normal;
    }
    .sortingBlock{
        padding-right: 2rem;
        padding-left: 2rem;
        margin-bottom: 1.7rem;
        justify-content: space-between;
    }
    .filtersClouse{
        display: flex;
    }
    .sortingBlock .soringLable{
        display: none;
    }
    .filtersShow{
        display: flex;
    }
    .selectionItems{
        padding-right: 0;
        padding-bottom:0;
        display: grid;
        grid-template-columns: repeat(2, 26rem);
        grid-template-rows: 43rem;
        gap:1rem;
    }
    .selectionItems.error{
        display: flex;
        min-height: 100%;
        height: 100%;
    }
    .errorTitle{
        font-size: 1.8rem;
    }
    .errorSubtitle{
        font-size: 1.2rem;
    }
    .skeleton{
        width: 26rem;
        height: 43rem;
    }
    .skeletonImage{
        width: 26rem;
        height:32rem;
    }
    .skeletonText{
        x: 0.8rem;
        y: 34rem;
        width: 24.4rem;
        height: 2.5rem;
    }
    .skeletonPrice{
        x: 0.8rem;
        y: 39rem;
        width: 10rem;
        height: 2.3rem;
    }
    .skeletonRating{
        x: 15.1rem;
        y: 39rem;
        width: 10rem;
        height: 2.3rem;
    }
}

@media (max-width:390px){
    .selectionItems{
        grid-template-columns: repeat(2, 18rem);
        grid-template-rows: 30.5rem;
    }
    .skeleton{
        width: 18rem;
        height: 30.5rem;
    }
    .skeletonImage{
        width: 18rem;
        height:22rem;
    }
    .skeletonText{
        x: 0.6rem;
        y: 23rem;
        width: 16.8rem;
        height: 2.5rem;
    }
    .skeletonPrice{
        x: 0.6rem;
        y: 27rem;
        width: 6rem;
        height: 2.3rem;
    }
    .skeletonRating{
        x: 11.4rem;
        y: 27rem;
        width: 6rem;
        height: 2.3rem;
    }
}




