.header{
    position: fixed;
    padding-top:1.7rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height:5.5rem;
    background-color: #fff;
    border-bottom: 1px solid #CCCCCC;
    z-index: 10;
}

.logo{
    margin-left: 13rem;
    font-family: 'Aclonica', sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.7rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}
.logoCenter{
    margin-right: 44rem;
}
.categoryBlock{
    margin-left: 20.6rem;
    margin-right: 20.6rem;
    display: flex;
    flex-grow: 2;
    justify-content: space-between;
}
header .categoryBlock.remove{
    display: none;
}

.category {
    text-decoration: none;
}

.category .item{
    height: 100%;
    position: relative;
    margin-right: 2.3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    text-transform: uppercase;
    color: #000000;
    transition: 0.5s;
    cursor: pointer;
}
.category .item:last-child{
    margin-right: 0;
}
.category .item:after{
    content: "";
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background-color: rgba(0,0,0, 0.0);
    transition: 0.5s;
}
.category .item:hover:after{
    content: "";
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background-color: rgba(0,0,0, 0.3);
    transition: 0.5s;

}
.removeActive.category .item.active:after{
    background-color: rgba(0,0,0, 0.0);
}
.removeActive.category .item.active:hover:after{
    background-color: rgba(0,0,0, 0.3);
}
header .basket{
    display: block;
    position: relative;
}
.basketCounter{
    min-width: 1.4rem;
    min-height: 1.4rem;
    padding: .1rem .30rem;
    background-color: #E42C2C;
    border-radius: 100%;
    position: absolute;
    top: -5px;
    right: -5px;
    color: #FFFF;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: normal;
}

@media(max-width:1024px){
    .category .item:after{
        display: none;
    }
}
.category .item.active:after{
    visibility: visible;
    opacity: 1;
    content: "";
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background-color: rgba(0,0,0, 1);
    transition: 0.5s;
}

.nav a:last-child{
    margin-right: 0;
}
.iconContainer{
    width: 12rem;
    height: 2.3rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 12.1rem;
}
.iconItem{
    display: flex;

    background-color: transparent;
    border: none;
    cursor: pointer;
}
.iconItem svg{
    width: 2.1rem;
    height: 100%;
    max-height: 2.3rem;
}

.burger{
    display: none;
}
.burgerMenu{
    display: none;
}

@media(max-width:768px){
    .header{
        height: 7rem;
        justify-content: space-around;
        align-items: center;
    }
    .burger{
        width: 5rem;
        height: 5rem;
        display: block;
        background-color: transparent;
        border: none;
    }
    .burgerImg{
        width: 5rem;
        height: 5rem;
    }
    .logo{
        margin: 0;
    }

    header .category{
        display: none;
    }
    .iconContainer{
        margin-right:0;
        width: 7rem;
    }

    header .profile{
        display: none;
    }

    .burgerMenu{
        display: flex;
        width: 100vw;
        height: calc(100vh - 7rem) ;
        top: 7rem;
        left: -100vw;
        visibility: hidden;
        flex-direction: column;
        background-color: #FFFFFF;
        position: fixed;
        z-index: 5;
        transition: left 0.3s ease-out, visibility 0.3s ease-out;
    }
    .burgerMenu.active{
        left: 0;
        visibility: visible;
        transition: left 0.3s ease-out, visibility 0.3s ease-out;
    }
    .loginBlock{
        margin-top: 2.8rem;
        margin-left: 3rem;
        display: flex;
        align-items: center;
    }
    .burgerMenu .profile {
        margin-right: 2rem;
    }
    .burgerMenu .iconItem.profile  svg path{
        fill: transparent;
    }
    .login{
        color: #000;
        font-family: Poppins, sans-serif;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
    }
    header  .categoryBlock{
        display: none;
    }
    .categoryBlock{
        margin-left: 0;
        margin-right: 0;
        margin-top: 4.8rem;
        justify-content: center;
        flex-direction: column;
        flex-grow: 0;
    }

    .category{
        width: 16rem;
        margin: 1.2rem auto 0 3rem;
        padding-bottom: 1.5rem;
        border-bottom: 0.1rem solid #B0B0B0;
    }
    .category .item.active:after{
        background-color: rgba(0,0,0, 0.0);
    }
    .burgerMenu svg path{
        fill: #3C3C3C;
    }
    .burgerMenu :global(.social){
        margin: auto 2rem 2.1rem auto;

    }
}




