.footer{
    padding-top: 4rem;
    background-color: #212121;
    color: #fff;
}

.footerContainer{
    margin: 0 auto;
    padding-bottom:3.5rem;
    max-width:84.5rem;
    display: flex;
    justify-content: space-between;
}

.footerContainer a{
    margin-bottom: 1.1rem;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #fff;
    text-decoration: none;
}

.footerH3{
    margin-bottom:1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    text-transform: uppercase;
    color: #FFFFFF;
}

.payment{
    display: flex;
    justify-content: flex-start;
}

.paymentItem{
    margin-right: 0.2rem;
    width: 3.4rem;
    height: 2.2rem;
    border-radius: 0.4rem;
}

.paymentItem:last-child{
    margin-right: 0;
}

.footerCopyrite{
    margin: 0 auto;
    padding-bottom: 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.0rem;
    text-align: center;
    line-height: 1.5rem;
    color: #FFFFFF;
}

@media(max-width:768px){
    .footerContainer{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .footerBottom{
        margin-top: 3rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footerH3Social{
        display: none;
    }
    .footerContainer :global(.social){
        display: none;
    }
}