.checkoutForm{
    padding-left: 20rem;
    padding-right: 5rem;
    width: 99.3rem;
}
.personalDataForm{
    flex-grow: 0;
}
.personalDataForm .header{
    margin-top:3.8rem;
}
.personalDataForm .infoBlock{
    margin-left:13rem;
}
.header{
    display: block;
    margin-top:6rem;
    margin-bottom: 4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2.6rem;
    text-transform: uppercase;
}
.infoBlock{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contactLabel{
    width: 34rem;
    margin-bottom: 1rem;
}
.fullRow{
    margin-right: 30rem;
}
.errorBlock{
    width: 100%;
    height: 1rem;
}
.errorMessage{
    font-size: 1rem;
    color: #DA2C2C;
}
.title{
    margin-bottom: 1.3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    text-transform: uppercase;
}
.inputEl{
    padding: 1.2rem 2.4rem;
    width: 100%;
    height: 4rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    border: none;
    outline: .1rem solid transparent;
    transition: outline .5s;
}
.contactLabel:hover input.inputEl{
    outline: .1rem solid #BBBBBB;
    transition: outline .5s;
}
.contactLabel .inputEl:focus{
    outline: .1rem solid #8D8D8D;
}
.contactLabel .inputEl.error{
    outline: .1rem solid #DA2C2C;
}
.contactLabel .inputEl.error::placeholder{
    color: #DA2C2C;
}

.inputEl::placeholder{
    color:#B0B0B0;
    text-transform: uppercase;
}

.paymentBlock{
    width: 64rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paymentEl{
    margin-bottom: 9.5rem;
    position: relative;
    width: 10rem;
    height: 6.3rem;
    display: block;
    background-color: #212121;
    border: 0.3rem solid #fff;
    cursor: pointer;
    transition: 1s;
}

.paymentEl input{
    width: 0.001rem;
    height: 0.001rem;
}

.paymentEl:before{
    content: '';
    position: absolute;
    width: 10rem;
    height: 0.5rem;
    bottom: -0.5rem;
    left: 0;
    background-color: transparent;
    border-radius: 0 0 50% 50%;
    transition: .5s;
    z-index: 2;
}

.paymentEl:hover:before{
    background-color: #C8C8C8;
    transition: .5s;
}

.paymentEl input:checked:before{
    content: '';
    visibility: visible;
    opacity: 100%;
    position: absolute;
    width: 10rem;
    height: 0.5rem;
    bottom: -0.5rem;
    left: 0;
    background-color: #212121;
    border-radius: 0 0 50% 50%;
    transition: 1s;
    z-index: 2;

}

.paymentEl img{
    margin-top: -0.2rem;
    margin-left: -0.2rem;
    position: absolute;
    width: 10.3rem;
    height: 6.7rem;
    top: 0;
    left: 0;
}

.submitBlock{
    margin-top: 3rem;
    width: 100%;
    display: flex;
}

.submitBtn{
    margin-right: 8rem;
    width: 30.6rem;
    height: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #3C3C3C;
    color: #FFFFFF;
    font-size: 1.4rem;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.5s ease-out;
}
.submitBtn:hover{
    background-color: #959595;
    transition: background-color 0.5s ease-out;
}

.cancelBtn{
    width: 30.6rem;
    height: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .1rem solid #3C3C3C;
    background-color: transparent;
    color:  #3C3C3C;
    font-size: 1.4rem;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0.1rem solid transparent;
    transition: outline 0.5s ease-out;
}

.cancelBtn:hover{
    outline: 0.1rem solid #3C3C3C;
    transition: outline 0.5s ease-out;
}

/*---------------------loginFormWrapper--------------------------*/

:global(.loginFormWrapper){
    width: 100%;
}
:global(.loginFormWrapper) .contactLabel{
    width: 100%;
}
:global(.loginFormWrapper) .submitBtn{
    margin: 0 auto;
}